* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
}

body {
	color: $color;
	font-size: 15px;
}

header {
	color: white;
	background-color: $primary;
	border-bottom: 1px solid #cbcbcb;
	padding: 5% 10%;
	width: 100%;
	text-align: center;

	span.octicon.octicon-star {
		font-size: 15rem;
		//color: yellow;
		color: $secondary-full;
		z-index: 2;
	}

	hgroup {
		z-index: 2;
		height: 20%;
		width: 50%;
		text-align: center;
		position: absolute;
		top: 16.5%;
		left: 0;
		right: 0;
		margin: auto;

		h1, p {
			text-align: center;
			background-color: $secondary;
			padding: 5px;

			small {
				color: darken(white, 15%);
				font-size: 1.5rem;
			}
		}
	}
}

.content {
	z-index: 99;
	color: $color;
	padding: 10%;
	width: 100%;
	text-align: center;

	h1, h2, h3, h4, h5, h6 {
		font-weight: 900;
	}

	p {
		display: inline-block;
		line-height: 1.5;
		width: 90%;
		text-align: center;
	}

	button {
		@extend p;
		width: 50%;
		border: none;
		background-color: $secondary-full;
		padding: 1%;
		color: white
	}
}
